*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    
    background-color: #e1e1eb;
    display: grid;
    grid-template-columns: repeat(7, 2fr) 1fr 1fr;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 200vh;
    row-gap: 100px;
}
nav{
    position: sticky;
    height: 100px;
    width: 100%;
    top: 0;
    background-color: blue;
    grid-column: 1 / -1;
    z-index: 999;
}

.main{
    position:relative;
    background-color: white;
    grid-column: 2/6;
    border-radius: 10px;
}

.main > img{
    width:100%; 
    min-height:150px;
}

.pres > img{
    width: 200px;
    position:absolute;
    top: -150px;
    left: 60px;
}

.main > .pres{
    position: relative;
    padding-top: 60px;
    padding-left: 60px;

}
.aside{
    background-color: white;
    grid-column: 7/9;

    display: flex;
    position: sticky;
    top:150px;
}

.lien{


    width:100%;
    height: 30px;

}